<div class="main-container">
    <h1 class="ws-100p">Parent Container (Comp 1)</h1>
    <!-- method 1 @output event emit method -->
    <h2 class="text-center m-15">counter value is
        <span class="col-white"> {{ count }} </span>
    </h2>

    <!-- @local variable method -->
    <!-- <div class="counter-div text-center">
        <button class="btn" (click)="cp2.DecreaseCount()">
            <svg class="bi bi-dash-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM4 7.5a.5.5 0 000 1h8a.5.5 0 000-1H4z" clip-rule="evenodd" />
            </svg>
        </button>

        <span class="counter-value"> {{ cp2.counterValue }} </span>

        <button class="btn" (click)="cp2.IncreaseCount()">
            <svg class="bi bi-plus-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div> -->

    <!-- @viewChild method 3 -->
    <!-- <div class="counter-div text-center">
        <button class="btn" (click)="DecreaseCount()">
            <svg class="bi bi-dash-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM4 7.5a.5.5 0 000 1h8a.5.5 0 000-1H4z" clip-rule="evenodd" />
            </svg>
        </button>

        <span class="counter-value"> {{ child.counterValue }} </span>

        <button class="btn" (click)="child.IncreaseCount()">
            <svg class="bi bi-plus-circle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div> -->


    <!-- child component 2 injection @method 1 @Event Emit -->
    <!-- <app-cp2 [counterValue]="count" class="min-container" (countChanged)="updateCount($event)"></app-cp2> -->
    <!-- child component 2 ends-->

     <!-- child component 2 injection @method 2 @local variable -->
    <!-- <app-cp2 [counterValue]="count" class="min-container" #cp2></app-cp2> -->
    <!-- child component  2 ends-->

    <!-- child component 3 injection @method 3  @ViewChild --> 
    <app-cp3 class="min-container"></app-cp3>
    <!-- child component 3 ends -->

</div>