.main-container{
    height: 100%;
    background: #009baf;
    padding: 15px;
}
.ws-100p{
    width: 100%;
}
.min-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.counter-div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 30px 0;
}
.counter-value{
    font-size: 3em;
}