.com-2-div {
    width: 80%;
    border-radius: 10px;
    background: #009baf;
    padding: 15px;
}
.counter-div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.counter-value{
    font-size: 3em;
}